body {
    padding-top: 30px;
}
path {
    fill: #e2e2e2;
}

path:hover {
    fill: #030303;
}

.popover-content {
    color: #1b1212;

}
.popover-title {
    background: #050505;
    color: #fff;
}

